<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianjunhuang.ssm.dao.UserMapper">

    <select id="getAllUser" resultMap="User">
        SELECT *
        FROM t_user
        WHERE t_user.f_machine_id = #{machineId}
    </select>

    <select id="getUser" resultMap="User">
        SELECT *
        FROM t_user
        WHERE t_user.f_machine_id = #{machineId} AND t_user.f_user_id = #{userId}
    </select>

    <insert id="addUser">
        INSERT INTO t_user (f_user_id, f_user_name, f_user_status, f_user_cup_size, f_user_fav_temperature, f_machine_id)
        VALUES (#{userId}, #{name}, #{status}, #{cupSize}, #{favTemperature}, #{machineId})
    </insert>

    <update id="updateUser">
        UPDATE t_user
        SET f_user_status          = #{status}, f_user_cup_size = #{cupSize},
            f_user_fav_temperature = #{favTemperature}
        WHERE f_user_id = #{userId} and f_machine_id = #{machineId}
    </update>

    <resultMap id="User" type="com.jianjunhuang.ssm.entity.User">
        <id property="userId" column="f_user_id"/>
        <result property="name" column="f_user_name"/>
        <result property="status" column="f_user_status"/>
        <result property="cupSize" column="f_user_cup_size"/>
        <result property="favTemperature" column="f_user_fav_temperature"/>
        <result property="machineId" column="f_machine_id"/>
    </resultMap>
</mapper>